<html>
    <head>
        <title>Movie Sorter</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
        <script src="http://www.google.com/jsapi"></script>
        <script>
            google.load("jquery", "1");
        </script>
        {% block extra_heads %}
        {% endblock %}
    </head>
    <body>
    <h1>movie<span class="verb">sorter</span></h1>
    <h2>choose without choosing</h2>

    {% block blurb %}
    {% endblock %}

    <div id="forms">
        <form action="/movies" method="get">
            City: <input type="text" id="city" name="city" value="{{ city }}"/>
            <input type="submit" value="Show me movies!"/>
        </form>
    </div>

    {% block content %}
    {% endblock %}

    <div id="footer">
        By <a href="http://divided-mind.blogspot.com">Rafał Rzepecki</a>.
        Props to:
            <a href="http://www.python.org/">Python</a>;
            <a href="http://www.djangoproject.com/">Django</a>;
            <a href="http://google.com">Google</a> for <a href="http://code.google.com/appengine/">App Engine</a> and <a href="http://google.com/movies">Movie Showtimes</a>;
            <a href="http://www.geonames.org/">GeoNames</a>;
            <a href="http://hackmap.blogspot.com/">Brent Pedersen</a> for <a href="http://hackmap.blogspot.com/2008/10/appengine-memcache-memoize-decorator.html">memcache decorator</a>;
            <a href="http://www.stuartbishop.net/">Stuart Bishop</a> for <a href="http://pytz.sourceforge.net">pytz</a>;
            <a href="http://imdb.com">IMDb</a>;
            <a href="http://imdbpy.sourceforge.net/">IMDbPY</a>
        .
    </div>
</html>
