<html>
    <head>
        <title>Movie Sorter</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
    </head>
    <body>
    <h1>movie<span class="verb">sorter</span></h1>
    <h2>choose without choosing</h2>

    {% block blurb %}
    {% endblock %}

    <div id="forms">
        <form action="/movies" method="get">
            City: <input type="text" name="city" value="{{ city }}"/>
            <input type="submit" value="Show me movies!"/>
        </form>
    </div>

    {% block content %}
    {% endblock %}

    <div id="footer">
        Underlying code copyright &copy; 2009 by <a href="http://divided-mind.blogspot.com">Rafał Rzepecki</a>. Props to: <a href="http://google.com">Google</a> for <a href="http://google.com/movies">Movie Showtimes</a>.
    </div>
</html>
