{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>Title</th>
        <th>IMDb</th>
        <th>Showtimes</th>
    </tr>
    {% for movie in movies %}
        <tr>
            <td><a href="{{ movie.link }}" class="title mid">{{ movie.title }}</a><br/><span class="real_title">
                (Full title: <span class="title">{{ movie.imdb.title }}</span>
                {% if not movie.imdb_confirmed %}
                    <a href="#" class="imdb_status" title="This full title match has not been confirmed and may not be right.">[☆]</a>{% else %}
                    <a href="#" class="imdb_status" title="This full title match has been confirmed.">[★]</a>{% endif %})</span></td>
            <td class="imdb"><a href="http://www.imdb.com/title/tt{{ movie.imdb.movieID }}/">{{ movie.imdb.rating }}</a></td>
            <td>
                {% for cinema in movie.cinemas %}
                    <a href="{{ cinema.link }}" title="{{ cinema.name }}">{{ cinema.name|abbrev }}</a>:
                    {% for time in cinema.times %}{{ time }} {% endfor %}
                    {% if not forloop.last %}<br/>{% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

<script src="/scripts/imdb_confirmation.js"></script>
{% endblock %}
