{% extends "base.html" %}

{% block content %}
<script>
    var city = "{{ city }}";
</script>

<script src="/scripts/data_puller.js"></script>

<table>
    <tr>
        <th>Title</th>
        <th>IMDb</th>
        {% if user.criticker %}
            <th>Criticker</th>
        {% endif %}
        <th>Showtimes</th>
    </tr>
    {% for movie in movies %}
        {% include "movie.html" %}
    {% endfor %}
</table>

<script src="/scripts/imdb_confirmation.js"></script>
<script src="/scripts/criticker_suggestion.js"></script>

<script>
    processFetchQueue();
</script>
{% endblock %}
