body {
	background: black;
	color: #aaa;
	font-family: GraublauWeb, Lucida Sans, Luxi Sans, Tahoma, Helvetica, sans-serif;
}

h1 {
	font-size: 8.8em;
	font-weight: lighter;
	text-align: center;
	margin-bottom: -0.1em;
	margin-top: 0;
}

h2 {
	color: white;
	font-size: 1.42em;
	margin-bottom: 2em;
	margin-top: 0em;
	text-align: center;
}

.verb {
	color: white;
	font-weight: bold;
}

a {
    color: inherit;
    text-decoration: inherit;
    border-bottom: thin dotted #333;
}

#blurb {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5ex;
}

#forms {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}

input {
    color: inherit;
    background-color: black;
    font: inherit;
}

th {
    border-bottom: #aaa solid thin;
}

td {
    border-bottom: #555 solid thin;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#footer {
    margin-top: 5ex;
    font-size: 0.5em;
    border-top: #666 solid thin;
    text-align: right;
}

.imdb {
    text-align: center;
}

.real_title {
    font-size: 0.9em;
    color: #222;
}

td:hover .real_title {
    color: #999;
}

.title {
    font-style: oblique;
}

.imdb_guessed {
    font-size: 0.9em;
    position: relative;
    bottom: 0.2em;
    border-bottom: dotted thin #222;
}

.imdb_form {
    position: absolute;
    font-size: 0.8em;
    opacity: 0.9;
    background: #444;
    padding: 1em;
}

.imdb_form input[type=text] {
    width: 20em;
}
